.elementor-12591 .elementor-element.elementor-element-b137b36{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--border-radius:0px 0px 8px 8px;box-shadow:0px 2px 3px 0px rgba(73, 80, 87, 0.4);--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:10px;--padding-left:0px;--padding-right:0px;}.elementor-12591 .elementor-element.elementor-element-b137b36:not(.elementor-motion-effects-element-type-background), .elementor-12591 .elementor-element.elementor-element-b137b36 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-9ce6913 );}.elementor-12591 .elementor-element.elementor-element-b137b36:hover{box-shadow:-1px 5px 10px 0px rgba(14, 14, 14, 0.3);}.elementor-12591 .elementor-element.elementor-element-b137b36.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-12591 .elementor-element.elementor-element-ca0954f{--display:flex;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;--border-radius:8px 8px 8px 8px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-12591 .elementor-element.elementor-element-ca0954f:not(.elementor-motion-effects-element-type-background), .elementor-12591 .elementor-element.elementor-element-ca0954f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-12591 .elementor-element.elementor-element-e08f61f{--display:flex;--overflow:hidden;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;--z-index:1;}.elementor-12591 .elementor-element.elementor-element-6647a69 img{width:1000px;height:260px;object-fit:cover;object-position:center center;}.elementor-12591 .elementor-element.elementor-element-555277a{--display:flex;--padding-top:0px;--padding-bottom:20px;--padding-left:15px;--padding-right:15px;--z-index:2;}.elementor-12591 .elementor-element.elementor-element-90209b4{--display:flex;--gap:15px 15px;--row-gap:15px;--column-gap:15px;--border-radius:8px 8px 8px 8px;box-shadow:0px 10px 14px 0px rgba(161.5, 161.5, 161.5, 0.1);--margin-top:-36px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:015px;--padding-bottom:015px;--padding-left:015px;--padding-right:015px;}.elementor-12591 .elementor-element.elementor-element-90209b4:not(.elementor-motion-effects-element-type-background), .elementor-12591 .elementor-element.elementor-element-90209b4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-12591 .elementor-element.elementor-element-caa7537 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-12591 .elementor-element.elementor-element-caa7537 .elementor-heading-title{font-family:"Noto Sans", Sans-serif;font-size:19px;font-weight:600;color:var( --e-global-color-secondary );}.elementor-12591 .elementor-element.elementor-element-4641616{font-family:"Noto Sans", Sans-serif;font-size:14px;line-height:22px;}.elementor-12591 .elementor-element.elementor-element-d0435b4{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:20px;--padding-right:20px;}.elementor-12591 .elementor-element.elementor-element-af90dc8 .elementor-button{background-color:#0A0A0A00;font-family:"Noto Sans", Sans-serif;font-size:14px;font-weight:500;text-transform:capitalize;line-height:13px;fill:var( --e-global-color-primary );color:var( --e-global-color-primary );padding:0px 0px 0px 0px;}.elementor-12591 .elementor-element.elementor-element-af90dc8.elementor-element{--align-self:flex-start;}.elementor-12591 .elementor-element.elementor-element-af90dc8 .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-12591 .elementor-element.elementor-element-af90dc8 .elementor-button .elementor-button-content-wrapper{gap:10px;}.jet-listing-item.single-jet-engine.elementor-page-12591 > .elementor{width:400px;margin-left:auto;margin-right:auto;}@media(min-width:768px){.elementor-12591 .elementor-element.elementor-element-b137b36{--width:100%;}}@media(max-width:1024px){.elementor-12591 .elementor-element.elementor-element-555277a{--padding-top:0px;--padding-bottom:30px;--padding-left:30px;--padding-right:30px;}}@media(max-width:767px){.elementor-12591 .elementor-element.elementor-element-555277a{--padding-top:0px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}}/* Start custom CSS for container, class: .elementor-element-e08f61f */.elementor-12591 .elementor-element.elementor-element-e08f61f:before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #00000045;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}/* End custom CSS */
/* Start custom CSS for theme-post-title, class: .elementor-element-caa7537 */.blog__loop__card h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 2;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-4641616 */.elementor-12591 .elementor-element.elementor-element-4641616 P{
    margin-bottom: 0;
}
.accomodations_related_summary {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    -webkit-line-clamp: 3;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-af90dc8 */.elementor-12591 .elementor-element.elementor-element-af90dc8 i{
    color: #eb3300;
    font-size: 14px;
}

.elementor-12591 .elementor-element.elementor-element-af90dc8.half-line-btn:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 20px;
  height: 1px;
  background-color: #0a0a0a;
  transition: all ease 0.4s;
}

.elementor-12591 .elementor-element.elementor-element-af90dc8.half-line-btn:hover::before {
    background-color: var( --e-global-color-primary );
    width: 85%;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b137b36 */.elementor-12591 .elementor-element.elementor-element-b137b36:hover .blog-img:before{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    
}


.elementor-12591 .elementor-element.elementor-element-b137b36 .blog-img img{
    transition: 0.4s ease-in-out;
}

.elementor-12591 .elementor-element.elementor-element-b137b36:hover .blog-img img{
    transform: scale(1.08);
  }/* End custom CSS */